{% extends "base.html" %}
{% block view %}
<h2>메아리 성경 서비스에 대하여</h2>
<p>이 서비스는 <a href="http://mearie.org/">메아리</a>의 일부로 운영되는 성경 조회 서비스입니다. 세계에서 가장 간단하고 깔끔하며 간편한 성경 조회 사이트를 목표로 하며, 한편으로는 (낡아가는) <a href="http://tjbbc.cafe24.com/bible/">대전 반석 침례 교회 성경 조회 사이트</a>를 대체하기 위하여 만들어졌습니다.</p>
<p>모든 메아리 도메인과 마찬가지로 이 서비스는 <a href="http://mearie.org/about/kang-seonghoon">강 성훈</a> 한 개인의 가치관만을 반영하며 다른 개인이나 단체의 관점을 반영하지 않습니다. 모든 격려/비난/버그신고/개선점/농담은 <a href="http://mearie.org/about/contact">이 쪽</a>으로 부탁드립니다.</p>
<h2 id="search-syntax">검색 문법</h2>
<p>검색창은 현재 다음과 같은 문법을 지원합니다. 나중에 추가되거나 수정될 수 있습니다.</p>
<ul>
	<li>책 이름: <code>창세기</code>, <code>Gen</code> 등. <code>b:Gen</code> 식으로 명확하게 쓸 수 있습니다. 약어, 영문/한국어 가리지 않고 다 됩니다. 여럿 나올 수 없습니다.</li>
	<li>역본 이름: <code>흠정역</code>, <code>KJV</code> 등. <code>v:KJV</code> 식으로 명확하게 쓸 수 있습니다. 마찬가지로 약어, 영문/한국어 가리지 않고 다 됩니다. 역본이 둘 있으면 세로로 나뉘어서 나오며, 검색은 처음 나온 역본을 따릅니다.</li>
	<li>장/절: <code>12</code>, <code>3:16</code> 등. 절 번호는 생략될 수 있습니다. 여럿 나올 수 없고 아래 장/절 범위와 섞어 쓸 수 없습니다.</li>
	<li>장/절 범위: <code>1-7</code>, <code>1:23-4:5</code>, <code>1:17 ~ 19</code> 등. 여럿 나올 수 없고 위의 장/절과 섞어 쓸 수 없습니다.</li>
	<li>검색어: <code>부활</code>, <code>"속히 오시옵소서"</code> 등. 띄어쓰기나 부호 등으로 구분할 수 있습니다. (따옴표로 묶으면 띄어쓰기 등이 보존됩니다.) 검색어가 여럿이면 여러 개를 모두 포함하는 결과를 검색하고, <mark class="keyword0">서로</mark> <mark class="keyword1">다른</mark> <mark class="keyword2">색깔로</mark> 구분되어 표시됩니다. 검색어와 책/장/절을 섞어 쓸 수는 없습니다.</li>
</ul>
<h2 id="versions">역본 정보</h2>
<p>다음 두 역본은 이 서비스에서 특수하게 취급하는 기본값입니다. 이 기본값은 바꿀 수 없습니다.</p>
<dl>
	<dt><strong>권위역 킹 제임스 성경</strong>(Authorized King James Bible, 1611)</dt>
	<dd>잉글랜드의 왕 제임스 1세의 명을 받아 번역된 온전한 하나님의 말씀입니다. 잉글랜드를 제외한 거의 모든 국가에서 <a href="http://ko.wikipedia.org/wiki/%ED%8D%BC%EB%B8%94%EB%A6%AD_%EB%8F%84%EB%A9%94%EC%9D%B8">퍼블릭 도메인</a>에 속하여 저작권 문제 없이 사용할 수 있습니다. 이 역본은 영문 성경을 사용할 때 기본값입니다.</dd>
	<dt><strong>킹 제임스 흠정역</strong>(5판, 2011)</dt>
	<dd><a href="http://keepbible.com/">그리스도 예수안에</a>가 권위역 킹 제임스 성경 전서를 한국어로 번역한 역본입니다. 이 서비스는 그리스도 예수안에의 허락을 받고 이 역본을 사용하고 있습니다. 이 역본은 한국어 성경을 사용할 때 기본값입니다.</dd>
</dl>
{% endblock %}
