{% extends "base.html" %}
{% block view %}
<h2>메아리 성경 서비스에 대하여</h2>
<p>이 서비스는 <a href="http://mearie.org/">메아리</a>의 일부로 운영되는 성경 조회 서비스입니다. 세계에서 가장 간단하고 깔끔하며 간편한 성경 조회 사이트를 목표로 하며, 한편으로는 (낡아가는) <a href="http://tjbbc.cafe24.com/bible/">대전 반석 침례 교회 성경 조회 사이트</a>를 대체하기 위하여 만들어졌습니다.</p>
<p>모든 메아리 도메인과 마찬가지로 이 서비스는 <a href="http://mearie.org/about/kang-seonghoon">강 성훈</a> 한 개인의 가치관만을 반영하며 다른 개인이나 단체의 관점을 반영하지 않습니다. 모든 격려/비난/버그신고/개선점/농담은 <a href="http://mearie.org/about/contact">이 쪽</a>으로 부탁드립니다.</p>
<h2>역본 정보</h2>
<p>다음 두 역본은 이 서비스에서 특수하게 취급하는 기본값입니다. 이 기본값은 바꿀 수 없습니다.</p>
<dl>
	<dt><strong>권위역 킹 제임스 성경</strong>(Authorized King James Bible, 1611)</dt>
	<dd>잉글랜드의 왕 제임스 1세의 명을 받아 번역된 온전한 하나님의 말씀입니다. 잉글랜드를 제외한 거의 모든 국가에서 <a href="http://ko.wikipedia.org/wiki/%ED%8D%BC%EB%B8%94%EB%A6%AD_%EB%8F%84%EB%A9%94%EC%9D%B8">퍼블릭 도메인</a>에 속하여 저작권 문제 없이 사용할 수 있습니다. 이 역본은 영문 성경을 사용할 때 기본값입니다.</dd>
	<dt><strong>킹 제임스 흠정역</strong>(5판, 2011)</dt>
	<dd><a href="http://keepbible.com/">그리스도 예수안에</a>가 권위역 킹 제임스 성경 전서를 한국어로 번역한 역본입니다. 이 서비스는 그리스도 예수안에의 허락을 받고 이 역본을 사용하고 있습니다. 이 역본은 한국어 성경을 사용할 때 기본값입니다.</dd>
</dl>
{% endblock %}
