{%- macro verse_range(start,end) -%}
	<strong>{{(start.book|book).title_ko}} {{start.chapter}}장 {{start.verse}}절</strong>
	{%- if start != end %}부터
	<strong>{% if start.book != end.book %}{{(end.book|book).title_ko}} {% endif -%}
	{%- if start.book_and_chapter != end.book_and_chapter %}{{end.chapter}}장 {% endif -%}
	{{end.verse}}절</strong>까지
	{%- endif -%}
{%- endmacro -%}

{%- macro other_chapters() -%}
	{% with (minchap, maxchap) = mappings.chapterranges[book.book] -%}
	<div class="chapters"><strong>{{book.title_ko}}</strong>의 다른 장들:
		{% with sep = joiner(' ') -%}
		{%- macro chapters(c1,c2) -%}
			<a href="{{url_for('.view_chapter', book=book.code, chapter=c1)}}{{build_query_suffix(c=none)}}">{{c1}}</a>
			{%- if c1+1 < c2+1 -%}
			{%- if c1+1 < c2 -%}
			<span class="omissible">{% for c in range(c1+1, c2) -%}
				{{sep()}}<a href="{{url_for('.view_chapter', book=book.code, chapter=c)}}{{build_query_suffix(c=none)}}">{{c}}</a>
			{%- endfor %}</span>
			<span class="ellipsis">{{sep()}}&hellip;</span>
			{%- endif -%}
			{{sep()}}<a href="{{url_for('.view_chapter', book=book.code, chapter=c2)}}{{build_query_suffix(c=none)}}">{{c2}}</a>
			{%- endif -%}
		{%- endmacro -%}
		{%- if minchap < chapter1 %}{{sep()}}{{chapters(minchap, chapter1-1)}}{% endif -%}
		{{sep()}}<span class="shown">{{chapters(chapter1, chapter2)}}</span>
		{%- if chapter2+1 < maxchap+1 %}{{sep()}}{{chapters(chapter2+1, maxchap)}}{% endif -%}
		{%- endwith -%}
	</div>
	{%- endwith -%}
{%- endmacro -%}

{%- macro verses_prev(url) -%}
<thead>
	<tr class="rowbutton"><td colspan="{{5 if version2 else 4}}">
		<a href="{{url}}">{{caller()}}</a>
	</td></tr>
</thead>
{%- endmacro -%}

{%- macro verses_next(url) -%}
<tfoot>
	<tr class="rowbutton"><td colspan="{{5 if version2 else 4}}">
		<a href="{{url}}">{{caller()}}</a>
	</td></tr>
</tfoot>
{%- endmacro -%}

{%- macro verses_prevc_or(_searching=false) -%}
{%- if prevc -%}
	{%- call verses_prev(request.base_url ~ build_query_suffix(c=prevc, _searching=_searching)) %}&uarr; 이전 말씀 보기{% endcall -%}
{%- else -%}
	{{caller()}}
{%- endif -%}
{%- endmacro -%}

{%- macro verses_nextc_or(_searching=false) -%}
{%- if nextc -%}
	{%- call verses_next(request.base_url ~ build_query_suffix(c=nextc, _searching=_searching)) %}&darr; 다음 말씀 보기{% endcall -%}
{%- else -%}
	{{caller()}}
{%- endif -%}
{%- endmacro -%}

<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8" />
	<title>성경</title>
	<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}?20160619" />
	<link rel="search" type="application/opensearchdescription+xml" href="/res/opensearch.xml" title="메아리 성경 검색" />
	<meta name="viewport" content="width=320, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>
	<header>
	<h1><a href="{{url_for('.index')}}">성경</a></h1>
	<nav>
		<form class="quick-search" action="{{url_for('.search')}}" method="get">
			<input type="text" name="q" value="{{query}}" />
			<input type="submit" value="검색" />
		</form>
		<ul>
			<li><a href="{{url_for('.about')}}">대하여</a></li>
			<li><a href="{{url_for('.daily_list')}}">매일</a></li>
			<li><a href="#">노트</a></li>
			<li><a href="#">로그인</a></li>
		</ul>
	</nav>
	</header>
	{% block view %}
	{% endblock %}
	<footer>
	<p><a href="http://mearie.org/">메아리</a> 성경 서비스는 <a href="http://mearie.org/about/contact">강 성훈</a>이 만들고 운영합니다. <a href="https://github.com/lifthrasiir/bible.mearie.org/">소스 코드</a>를 볼 수 있습니다.</p>
	</footer>
	{% if not debug %}
	<!-- Piwik -->
	<script type="text/javascript">
	  var _paq = _paq || [];
	  _paq.push(["setDomains", ["*.bible.mearie.org"]]);
	  _paq.push(['trackPageView']);
	  _paq.push(['enableLinkTracking']);
	  (function() {
	    var u="//track.mearie.org/";
	    _paq.push(['setTrackerUrl', u+'piwik.php']);
	    _paq.push(['setSiteId', 2]);
	    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	  })();
	</script>
	<noscript><p><img src="//track.mearie.org/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
	<!-- End Piwik Code -->
	{% endif %}
</body>
</html>
