{% extends "base.html" %}
{% block view %}
{{other_chapters()}}
<table class="verses">
{%- if prev %}
<thead>
	<tr class="rowbutton"><td colspan="{{5 if version2 else 4}}">
		<a href="{{url_for('.view_chapter', book=(prev.book|book).code, chapter=prev.chapter)}}">&uarr; {% if book.book == prev.book %}이전{% else %}{{(prev.book|book).title_ko}}의 마지막{% endif %} 장으로 가기</a>
	</td></tr>
</thead>
{%- endif %}
{%- for section in sections %}
<tbody{{section.classes|classes}}>
	{%- for row in section.verses %} 
	{% include "verse_row.html" %}
	{%- endfor %}
</tbody>
{%- endfor %}
{%- if next %}
<tfoot>
	<tr class="rowbutton"><td colspan="{{5 if version2 else 4}}">
		<a href="{{url_for('.view_chapter', book=(next.book|book).code, chapter=next.chapter)}}">&darr; {% if book.book == next.book %}다음{% else %}{{(next.book|book).title_ko}}의 첫{% endif %} 장으로 가기</a>
	</td></tr>
</thead>
{%- endif %}
</table>
{{other_chapters()}}
{% endblock %}
