{% extends "base.html" %}
{% block view %}
<section class="verses">
<nav>
	{{daily.month}}월 {{daily.day}}일에 읽을 성경 말씀은 {{verse_range(daily.start, daily.end)}}입니다.
</nav>
<table>
{%- call verses_prev(url_for('.daily', code=daily.prev.code) ~ build_query_suffix()) -%}
	&uarr; {{daily.prev.month}}월 {{daily.prev.day}}일에 읽었던 성경 말씀으로 가기
{%- endcall %}
{%- for section in sections %}
<tbody{{section.classes|classes}}>
	{%- for row in section.verses %}
	{% include "verse_row.html" %}
	{%- endfor %}
</tbody>
{%- endfor %}
{%- call verses_next(url_for('.daily', code=daily.next.code) ~ build_query_suffix()) -%}
	&darr; {{daily.next.month}}월 {{daily.next.day}}일에 읽을 성경 말씀으로 가기
{%- endcall %}
</table>
</section>
{% endblock %}
