{% extends "base.html" %}
{% block view %}
<section class="leftside">
<h2>빨리 가기</h2>
<form class="search" action="{{url_for('.search')}}" method="get">
	<input type="text" name="q" />
</form>
<p>권/장/절로 바로 가기: “<a href="{{url_for('.search')}}?q=창세기">창세기</a>”, “<a href="{{url_for('.search')}}?q=창1">창1</a>”, “<a href="{{url_for('.search')}}?q=창1:1">창1:1</a>”</p>
<p>낱말로 찾아보기: “<a href="{{url_for('.search')}}?q=부활">부활</a>”, “<a href="{{url_for('.search')}}?q=적그리스도">적그리스도</a>”, “<a href="{{url_for('.search')}}?q=아사헬">아사헬</a>”</p>
</section>
<section class="rightside">
<h2>전체 메뉴</h2>
<h3>성경 전서</h3>
<table class="books">
{%- for row in books|batch(3, none) %}
	<tr>
	{%- for book in row if book %}
	<td><a href="{{url_for('.view_book', book=book.code)}}"><strong>{{book.ko}}</strong> {{book.kor}}</a></td>
	{%- endfor %}
	</tr>
{%- endfor %}
</table>
</section>
{% endblock %}
