{% extends "base.html" %}
{% block view %}
<section class="verses">
<nav>
<form action="{{url_for('.search')}}" method="get">
	<span class="linebreak"><input type="text" name="q" value="{{query}}" /> 검색어로</span>
	<span class="linebreak"><select name="v">
	{%- for version in mappings.versions.values() if version.blessed %}
		<option value="{{version.version}}"{% if version1 == version %} selected="selected"{% endif %}>{{version.title_ko}}</option>
	{%- endfor %}
	</select>에서 찾은
	{% if sections -%}
	성경 말씀입니다.
	{%- else -%}
	성경 말씀이 없습니다.</span>
	{%- endif %}
	<span class="linebreak"><input type="submit" value="다시 찾아 봅니다." /></span>
</form>
</nav>
<table class="{{'two-columns' if version2 else 'one-column'}}">
{%- call verses_prevc_or(_searching=true) %}{% endcall %}
{%- for section in sections %}
<tbody{{section.classes|classes}}>
	{%- for row in section.verses %}
	{% include "verse_row.html" %}
	{%- endfor %}
</tbody>
{%- endfor %}
{%- call verses_nextc_or(_searching=true) %}{% endcall %}
</table>
</section>
{% endblock %}
